{
    "evaluator": "document-has-type",
    "condition": "my:journalfolder",
    "config": {
        "documents-list-selected-actions": [{
            "action": "edit-journal",
            "allowPermission": [
                "update"
            ]
        }]
    }
}
