{
    "evaluator": "project-has-title",
    "condition": "Test Project",
    "config": {
        "documents-list-selected-actions": [{
            "action": "download",
            "remove": true
        }]
    }
}
